.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    }
    .card{
        background-color: rgb(34, 138, 107)
        ;
        width: 285px;
        height: 400px;
        margin: 17px;
        border-radius: 5%;
    }
    .card-image{
        background-color: rgba(240, 253, 255, 0.493);
    height:270px ;
    margin-bottom: 15px;
    border-radius: 5%;
    
    
    background-size: cover;
    }
    .food-1{
        background-image:url("xushi01.jpeg");
    
    }
    .food-2{
        background-image:url("kebab01.jpeg");
    
    }
    .food-3{
        background-image:url("timayas.jpg");
    
    }
    .food-4{
        background-image:url("hambuger.jpeg");
    
    }
    .food-5{
        background-image:url("fries.jpg");
    
    }
    .food-6{
        background-image:url("crab.jpg");
    
    }
    .food-7{
        background-image:url("lambs.jpg");
    
    }
    .food-8{
        background-image:url("yanke.png");
    
    }
    
    .card h2,p{
        display: block;
        text-align: center;
    
        
    }
    .card button{
        background-color: rgb(46, 156, 156);
        margin-left: 100px;
        margin-top: 15px;
        padding: 10px;
    }
    .card button a{
        text-decoration: none;
    }